<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>


    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name='title' id="title">
            </div>
            <div class="form-control">
                <label for="imgURL">image URL</label>
                <input type="text" name='imgURL' id="imgURL">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name='price' id="price">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="description" type="number" name='description' rows="7" id="description"></textarea>
            </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>
<%- include('../includes/end.ejs') %>
