<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>


    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name='title' id="title" value="<% if (editing) { %><%=product.title%><% } %>">
            </div>
            <div class="form-control">
                <label for="imgURL">image URL</label>
                <input type="text" name='imgURL' id="imgURL" value="<% if (editing) { %><%=product.imgUrl%><% } %>"">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name='price' id="price" value="<% if (editing) { %><%=product.price%><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="description" type="number" name='description' rows="7" id="description" ><% if (editing) { %><%=product.description %><% } %></textarea>
            </div>
            <%if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
                <% } %>
            <button type="submit"> <% if(editing) {%>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
</body>

</html>
<%- include('../includes/end.ejs') %>
