<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imgUrl %>" alt="">                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/admin/edit-product/<%= product._id%>?edit=true" class="btn">Edit</a>
                            <form action="/admin/delete-product" method="post">
                                <input type="hidden" name="productId" value="<%= product._id%>">
                            <button href="/" type="submit" class="btn">Delete</button>
                        </form>
                        </div>
                    </article>
                <% } %>
        <% } else { %>
            <h1>No product</h1>
            <%} %>
    </main>
</body>

</html>
<%- include('../includes/end.ejs') %>
