<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="active" href="/">Shop</a></li>
            <li class="main-header__item"><a class="active" href="/products">Products</a></li>
            <li class="main-header__item"><a class="active" href="/cart">Cart</a></li>
            <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            <li class="main-header__item"><a href="/orders">Orders</a></li>
            <li class="main-header__item"><a href="/admin/products">Admin products</a></li>
        </ul>
    </nav>
</header>