
        body {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        }

        main {
            padding: 1rem;
        }

        .grid{
            display: flex;
            justify-content: space-around;
        }
        .product-item{
            max-width:450px;
            height: 200px;
            height: auto;
            -webkit-box-shadow: 6px -2px 77px -27px rgba(161,132,161,0.76);
            -moz-box-shadow: 6px -2px 77px -27px rgba(161,132,161,0.76);
            box-shadow: 6px -2px 77px -27px rgba(161,132,161,0.76);
        }

        .card__image img{
            width: 200px;
            height: auto;
           
        }
        .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: #dbc441;
            padding: 0 1.5rem;
        }

        .product__title{
            text-align: center;
            margin: 0;
            padding-top: 11px;
        }
        .product__price{
            text-align: center;
        }
        .product__description{
            padding-left: 10px;
        }
        .btn{
            width: 100%;
            text-align: center;
            background: red;
            color:white;
            padding: 5px;
            border: none;
        }
        .main-header__nav {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .main-header__item-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .main-header__item {
            margin: 0 1rem;
            padding: 0;
        }

        .main-header__item a {
            text-decoration: none;
            color: black;
        }

        .main-header__item a:hover,
        .main-header__item a:active,
        .main-header__item a.active {
            color: #3e00a1;
        }
