<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

<main>
  <% if(products.length > 0) { %>
    <ul>
      <% products.forEach(p => {%>
      <li><%= p.productData.title %> (<%= p.qty %>)</li>
      <form action="/cart-delete-item" method="post">
        <input type="hidden" name="productId" value="<%= p.productData.id %>">
      <button  class="btn" type="submit">Delete</button></form>
      <% }) %>
    </ul>
    <% } else { %> 
      <h1>No products in Cart!</h1>
      <% } %> 
</main>