<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imgUrl %>" alt="">                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product._id %>">Details</a>
                        <form action="/add-to-cart" method="post">
                            <button type="submit"  class="btn">Add to Cart</button>
                        </form>
                        </article>
                <% } %>
        <% } else { %>
            <h1>No product</h1>
            <%} %>
    </main>
</body>

</html>
<%- include('../includes/end.ejs') %>





