<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

<main class="centered">
    <h1><%= product.title %> </h1> 
    <hr>
    <div class="detailImg">
        <img src="<%= product.imgUrl %>" alt="">
    </div> 
    <h1><%= product.price %></h1> 
    <p><%= product.description %></p>
    <form action="/cart" method="post">
    <button class="btn" type="submit">Add to cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>
</main>